h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
@keyframes rcKeyframes-fade_in_and_move2
{
		0%   { transform: translate(700px, 0px); opacity: 0.05; }
		100% { transform: translate(0px, 0px); opacity: 1; }
}
.rcAnim-fade_in_and_move2
{
		animation-name:rcKeyframes-fade_in_and_move2;
		animation-delay:0ms;
		animation-duration:5000ms;
		animation-iteration-count:1;
		animation-timing-function:ease;
		animation-direction:normal;
		animation-fill-mode:forwards;
}
#menu_3c70b732 a { text-decoration: none; }
#menu_3c70b732_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_3c70b732_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_3c70b732_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_3c70b732_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_3c70b732_entry:hover span { color:#FFFFFF !important; }
		.menu_3c70b732_mainMenuEntry { text-align: center; }
		.menu_3c70b732_mainMenuEntry:hover {	background-color:#282828; }
		.menu_3c70b732_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_3c70b732 .mobileEntry { display: none; } 
		#menu_3c70b732 .normalEntry { display: block; } 
		#menu_3c70b732_menualignmentwrapper{ width:412px; left: calc(50% - 206px);  } 
		@media only screen and (max-width:600px) { 
			#menu_3c70b732 .mobileEntry { display: block; } 
			#menu_3c70b732 .normalEntry { display: none; } 
			#menu_3c70b732_menualignmentwrapper { width:36px; left: calc(50% - 18px);  } 
		}
body { background-color:#B3E7E7; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_7fc73153 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:27px; background-color:#00FFFF;  }
#container_7fc73153_padding { margin: 10px; display: block;  }
#heading_3ae69361 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle2 { text-align:left;display: block }
.textstyle3 { font-size:12pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000;  }
#container_2c2aa590 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_2c2aa590_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:center; }
#heading_6b0a0558 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:28pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000; text-align:left; font-style:italic; font-weight:bold; text-shadow: 2px 2px 2px #DC3BF3;  }
#heading_6b0a0558_padding { margin: 50px 0px 0px 0px; display: block;  }
#container_54323429 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:83px; background:none;  }
#container_54323429_padding { margin: 10px; display: block;  }
#menu_3c70b732 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background:none;  }
#menu_3c70b732_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:36px; height:38px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:32px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:59px; height:38px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:21px;  }
.textstyle6 { font-size:12pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000;  white-space: nowrap; }
.menustyle3 { position:absolute; width:89px; height:38px; left:59px;  }
.menustyle4 { position:absolute; width:66px; height:38px; left:148px;  }
.menustyle5 { position:absolute; width:49px; height:38px; left:214px;  }
.menustyle6 { position:absolute; width:60px; height:38px; left:263px;  }
.menustyle7 { position:absolute; width:89px; height:38px; left:323px;  }
#container_3634b17a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_3634b17a_padding { margin: 10px; display: block;  }
#container_3003ed18 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:101%; min-height:476px; background-color:#D9E8E8; border: 1px dotted #3BB4B4;  }
#container_3003ed18_padding { margin: 10px; display: block;  }
#heading_304cc980 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000; text-align:left;  }
#container_3261fcc3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_3261fcc3_padding { margin: 10px; display: block;  }
#text_7fa21dec { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle7 { font-size:15pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000;  }
#container_5ce8949f { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#BCD8D8; border: 1px dotted #404040;  }
#container_5ce8949f_padding { margin: 10px; display: block;  }
#heading_19d801ec { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000; text-align:left;  }
#container_59a0caff { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_59a0caff_padding { margin: 10px; display: block;  }
#container_ade6698 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_ade6698_padding { margin: 10px; display: block;  }
#img_409996f1 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#text_1f58b967 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_78d6203e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:21px; background:none;  }
#container_78d6203e_padding { margin: 10px; display: block;  }
#heading_548ef2b6 { vertical-align: bottom; position:relative; display: inline-block; background-color:#808080; font-size:14pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#FFFFFF; text-align:left;  }
