h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
@keyframes rcKeyframes-fade_in_and_move2
{
		0%   { transform: translate(700px, 0px); opacity: 0.05; }
		100% { transform: translate(0px, 0px); opacity: 1; }
}
.rcAnim-fade_in_and_move2
{
		animation-name:rcKeyframes-fade_in_and_move2;
		animation-delay:0ms;
		animation-duration:5000ms;
		animation-iteration-count:1;
		animation-timing-function:ease;
		animation-direction:normal;
		animation-fill-mode:forwards;
}
#menu_8033757 a { text-decoration: none; }
#menu_8033757_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_8033757_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_8033757_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_8033757_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_8033757_entry:hover span { color:#FFFFFF !important; }
		.menu_8033757_mainMenuEntry { text-align: center; }
		.menu_8033757_mainMenuEntry:hover {	background-color:#282828; }
		.menu_8033757_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_8033757 .mobileEntry { display: none; } 
		#menu_8033757 .normalEntry { display: block; } 
		#menu_8033757_menualignmentwrapper{ width:412px; left: calc(50% - 206px);  } 
		@media only screen and (max-width:600px) { 
			#menu_8033757 .mobileEntry { display: block; } 
			#menu_8033757 .normalEntry { display: none; } 
			#menu_8033757_menualignmentwrapper { width:36px; left: calc(50% - 18px);  } 
		}
body { background-color:#B3E7E7; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_3b62a34e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:27px; background-color:#00FFFF;  }
#container_3b62a34e_padding { margin: 10px; display: block;  }
#heading_7b158426 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle2 { text-align:left;display: block }
.textstyle3 { font-size:12pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000;  }
#container_466424f6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_466424f6_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:center; }
#heading_66981399 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:28pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000; text-align:left; font-style:italic; font-weight:bold; text-shadow: 2px 2px 2px #DC3BF3;  }
#heading_66981399_padding { margin: 50px 0px 0px 0px; display: block;  }
#container_1b33dca6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:83px; background:none;  }
#container_1b33dca6_padding { margin: 10px; display: block;  }
#menu_8033757 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background:none;  }
#menu_8033757_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:36px; height:38px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:32px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:59px; height:38px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:21px;  }
.textstyle6 { font-size:12pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000;  white-space: nowrap; }
.menustyle3 { position:absolute; width:89px; height:38px; left:59px;  }
.menustyle4 { position:absolute; width:66px; height:38px; left:148px;  }
.menustyle5 { position:absolute; width:49px; height:38px; left:214px;  }
.menustyle6 { position:absolute; width:60px; height:38px; left:263px;  }
.menustyle7 { position:absolute; width:89px; height:38px; left:323px;  }
#container_3ef7e28a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_3ef7e28a_padding { margin: 10px; display: block;  }
#container_261262a { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:101%; min-height:862px; background-color:#D9E8E8; border: 1px dotted #3BB4B4;  }
#container_261262a_padding { margin: 10px; display: block;  }
#heading_3a292b5c { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000; text-align:left;  }
#container_fb7d91b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_fb7d91b_padding { margin: 10px; display: block;  }
#text_734c9320 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle7 { font-size:15pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000;  }
#container_6199f115 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_6199f115_padding { margin: 10px; display: block;  }
#heading_6372ef2c { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000; text-align:left;  }
#container_16657750 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:113px; background:none;  }
#container_16657750_padding { margin: 10px; display: block;  }
#heading_78742497 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle8 { font-size:15pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000; font-style:italic;  }
#container_2641576f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_2641576f_padding { margin: 10px; display: block;  }
#heading_2405c3c9 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000; text-align:left;  }
#container_7c89f87c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:119px; background:none;  }
#container_7c89f87c_padding { margin: 10px; display: block;  }
#heading_5b73ca9f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_70dfcd45 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_70dfcd45_padding { margin: 10px; display: block;  }
#heading_36889197 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000; text-align:left;  }
#container_76422ff5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_76422ff5_padding { margin: 10px; display: block;  }
#heading_113dc287 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_2a5034ab { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:98px; background:none;  }
#container_2a5034ab_padding { margin: 30px 10px 10px 10px; display: block;  }
#heading_5526d82f { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:14pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000; text-align:center;  }
#button_356ad6d7 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:129px; height:22px; background-color:#0A2E5D; background: linear-gradient(to bottom, #1355AB, #0A2E5D); border: 2px solid #031020;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#button_4f89c297 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:129px; height:22px; background-color:#0A2E5D; background: linear-gradient(to bottom, #1355AB, #0A2E5D); border: 2px solid #031020;  }
#text_6990e6f8 { vertical-align: top; position:relative; display: inline-block; background:none;  }
#container_78250f0d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:21px; background:none;  }
#container_78250f0d_padding { margin: 10px; display: block;  }
#heading_632d7c06 { vertical-align: bottom; position:relative; display: inline-block; background-color:#808080; font-size:14pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#FFFFFF; text-align:left;  }
